button {
  cursor: pointer;
}
.rectangle-div,
.rectangle-div1 {
  position: absolute;
  left: 0;
  background-color: var(--color-gray-800);
  width: 100%;
}
.rectangle-div {
  top: 1046px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1573px;
}
.rectangle-div1 {
  top: 3606px;
  height: 1363px;
}
.vector-icon {
  position: absolute;
  height: 5.45%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 94.55%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div2,
.rectangle-div3 {
  position: absolute;
  top: 7266px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 1024px;
}
.rectangle-div3 {
  top: 5968px;
  background-color: var(--color-gray-800);
  height: 742px;
}
.image-1-icon {
  position: absolute;
  height: 0.48%;
  width: 16.18%;
  top: 0.28%;
  right: 42.5%;
  bottom: 99.24%;
  left: 41.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div4 {
  top: 0;
  bottom: 85.71%;
}
.rectangle-div4,
.rectangle-div5,
.rectangle-div6 {
  position: absolute;
  height: 14.29%;
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-teal);
}
.rectangle-div5 {
  top: 42.86%;
  bottom: 42.86%;
}
.rectangle-div6 {
  top: 85.71%;
  bottom: 0;
}
.group-div {
  position: absolute;
  height: 0.29%;
  width: 2.78%;
  top: 0.37%;
  right: 9.38%;
  bottom: 99.34%;
  left: 87.85%;
}
.rectangle-div7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 370px;
  height: 746px;
}
.new-p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.refurbished-apartment {
  margin: 0;
}
.new-refurbished-apartment {
  position: absolute;
  top: 387px;
  left: 15px;
  line-height: 35px;
  display: inline-block;
  width: 340px;
}
.added-on-the-110222,
.sign-in-to-learn-more-and-cont,
.unoccupied-ready-in-feburary {
  position: absolute;
  left: 15px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
}
.unoccupied-ready-in-feburary {
  top: 538px;
  line-height: 30px;
}
.added-on-the-110222,
.sign-in-to-learn-more-and-cont {
  top: 573px;
  font-size: var(--font-size-base);
  line-height: 25px;
}
.sign-in-to-learn-more-and-cont {
  top: 604px;
}
.div,
.pw-div {
  position: absolute;
  line-height: 40px;
  display: inline-block;
}
.pw-div {
  top: 478px;
  left: 239px;
  font-size: var(--font-size-3xl);
  text-align: right;
}
.div {
  top: 0;
  left: 26px;
}
.group-icon {
  position: absolute;
  height: 50%;
  width: 36.23%;
  top: 20%;
  right: 63.77%;
  bottom: 30%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div2 {
  position: absolute;
  top: 478px;
  left: 15px;
  width: 46px;
  height: 40px;
  font-size: var(--font-size-3xl);
}
.rectangle-div8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-turquoise);
}
.view-more {
  position: absolute;
  height: 36.36%;
  width: 68.75%;
  top: 36.36%;
  right: 15.63%;
  bottom: 27.27%;
  left: 15.63%;
  display: inline-block;
}
.group-div3 {
  position: absolute;
  height: 5.9%;
  width: 13.68%;
  top: 88.74%;
  right: 77.35%;
  bottom: 5.36%;
  left: 8.97%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.rectangle-div9 {
  position: absolute;
  top: 0;
  left: 400px;
  background-color: var(--color-white);
  width: 370px;
  height: 746px;
}
.bedroom-with-en-suite-now-avai {
  position: absolute;
  top: 387px;
  left: 415px;
  line-height: 35px;
  display: inline-block;
  width: 340px;
}
.added-on-the-070222 {
  position: absolute;
  left: 415px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
}
.occupied-ready-in-april {
  top: 538px;
  line-height: 30px;
}
.occupied-ready-in-april,
.sign-in-to-learn-more-and-cont1 {
  position: absolute;
  left: 415px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
}
.added-on-the-070222,
.sign-in-to-learn-more-and-cont1 {
  top: 573px;
  font-size: var(--font-size-base);
  line-height: 25px;
}
.sign-in-to-learn-more-and-cont1 {
  top: 604px;
}
.pw-div1 {
  position: absolute;
  top: 478px;
  left: 639px;
  font-size: var(--font-size-3xl);
  line-height: 40px;
  text-align: right;
  display: inline-block;
}
.group-icon1 {
  position: absolute;
  height: 50%;
  width: 35.46%;
  top: 20%;
  right: 64.54%;
  bottom: 30%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div4,
.group-div5 {
  position: absolute;
  top: 478px;
  left: 415px;
  width: 47px;
  height: 40px;
  font-size: var(--font-size-3xl);
}
.group-div5 {
  height: 5.9%;
  width: 13.68%;
  top: 88.74%;
  right: 43.16%;
  bottom: 5.36%;
  left: 43.16%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.rectangle-div11 {
  position: absolute;
  top: 0;
  left: 800px;
  background-color: var(--color-white);
  width: 370px;
  height: 746px;
}
.wanted-roommate-for-all-femal {
  position: absolute;
  top: 387px;
  left: 815px;
  line-height: 35px;
  display: inline-block;
  width: 340px;
}
.added-on-the-090222 {
  position: absolute;
  left: 815px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
}
.occupied-ready-to-move-in {
  top: 538px;
  line-height: 30px;
}
.occupied-ready-to-move-in,
.sign-in-to-learn-more-and-cont2 {
  position: absolute;
  left: 815px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
}
.added-on-the-090222,
.sign-in-to-learn-more-and-cont2 {
  top: 573px;
  font-size: var(--font-size-base);
  line-height: 25px;
}
.sign-in-to-learn-more-and-cont2 {
  top: 604px;
}
.group-div6 {
  top: 478px;
  font-size: var(--font-size-3xl);
}
.group-div6,
.group-div7,
.pw-div2 {
  position: absolute;
}
.pw-div2 {
  top: 478px;
  font-size: var(--font-size-3xl);
  left: 1032px;
  line-height: 40px;
  text-align: right;
  display: inline-block;
}
.group-div6 {
  left: 815px;
  width: 46px;
  height: 40px;
}
.group-div7 {
  height: 5.9%;
  width: 13.68%;
  top: 88.74%;
  right: 8.97%;
  bottom: 5.36%;
  left: 77.35%;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.rectangle-div13,
.rectangle-icon {
  position: absolute;
  bottom: 52.41%;
  left: 1.28%;
}
.rectangle-icon {
  height: 45.58%;
  width: 29.06%;
  top: 2.01%;
  right: 69.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div13 {
  height: 6.7%;
  width: 29.15%;
  top: 40.88%;
  right: 69.57%;
  background: linear-gradient(180deg, transparent, #000);
}
.group-icon3,
.group-icon4 {
  position: absolute;
  height: 1.68%;
  width: 4.08%;
  top: 43.8%;
  right: 82.15%;
  bottom: 54.52%;
  left: 13.77%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon4 {
  height: 10.19%;
  width: 14.53%;
  top: 2.01%;
  right: 69.66%;
  bottom: 87.8%;
  left: 15.81%;
}
.just-landed-div {
  position: absolute;
  height: 6.97%;
  width: 7.01%;
  top: 2.82%;
  right: 73.42%;
  bottom: 90.21%;
  left: 19.57%;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.rectangle-div14,
.rectangle-icon1 {
  position: absolute;
  bottom: 52.41%;
  left: 35.47%;
}
.rectangle-icon1 {
  height: 45.58%;
  width: 29.06%;
  top: 2.01%;
  right: 35.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div14 {
  height: 6.7%;
  width: 29.15%;
  top: 40.88%;
  right: 35.38%;
  background: linear-gradient(180deg, transparent, #000);
}
.group-icon5,
.group-icon6 {
  position: absolute;
  height: 1.68%;
  width: 4.08%;
  top: 43.8%;
  right: 47.96%;
  bottom: 54.52%;
  left: 47.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon6 {
  height: 10.19%;
  width: 14.53%;
  top: 2.01%;
  right: 35.47%;
  bottom: 87.8%;
  left: 50%;
}
.premium-property-div {
  position: absolute;
  height: 6.97%;
  width: 7.86%;
  top: 2.82%;
  right: 38.8%;
  bottom: 90.21%;
  left: 53.33%;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.rectangle-div15,
.rectangle-icon2 {
  position: absolute;
  bottom: 52.41%;
  left: 69.66%;
}
.rectangle-icon2 {
  height: 45.58%;
  width: 29.06%;
  top: 2.01%;
  right: 1.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div15 {
  height: 6.7%;
  width: 29.15%;
  top: 40.88%;
  right: 1.2%;
  background: linear-gradient(180deg, transparent, #000);
}
.group-icon7,
.group-icon8 {
  position: absolute;
  height: 1.68%;
  width: 4.08%;
  top: 43.8%;
  right: 13.77%;
  bottom: 54.52%;
  left: 82.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon8 {
  height: 10.19%;
  width: 14.53%;
  top: 2.01%;
  right: 1.28%;
  bottom: 87.8%;
  left: 84.19%;
}
.just-landed-div1 {
  position: absolute;
  height: 6.97%;
  width: 7.01%;
  top: 2.82%;
  right: 5.04%;
  bottom: 90.21%;
  left: 87.95%;
  line-height: 26px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
}
.vector-icon1 {
  right: 80.26%;
  left: 17.52%;
}
.vector-icon1,
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 2.68%;
  width: 2.22%;
  top: 65.15%;
  bottom: 32.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  right: 46.15%;
  left: 51.62%;
}
.vector-icon3 {
  right: 12.56%;
  left: 85.21%;
}
.group-div1 {
  position: absolute;
  top: 6355px;
  left: 135px;
  width: 1170px;
  height: 746px;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
}
.rectangle-div16 {
  position: absolute;
  top: 5613px;
  left: 135px;
  background-color: var(--color-white);
  width: 370px;
  height: 712px;
}
.bed-property-in-guildford {
  position: absolute;
  top: 6000px;
  left: 150px;
  font-size: var(--font-size-2xl);
  line-height: 35px;
  color: var(--color-black);
  display: inline-block;
  width: 340px;
}
.added-on-the-100222,
.sign-in-to-learn-more-and-cont3,
.unoccupied-ready-to-move-in {
  position: absolute;
  left: 150px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
}
.unoccupied-ready-to-move-in {
  top: 6117px;
  font-size: var(--font-size-2xl);
  line-height: 30px;
}
.added-on-the-100222 {
  top: 6152px;
  line-height: 25px;
}
.sign-in-to-learn-more-and-cont3 {
  line-height: 25px;
  top: 6183px;
}
.div3,
.pw-div3 {
  position: absolute;
  top: 6057px;
  font-size: var(--font-size-3xl);
  line-height: 40px;
  color: var(--color-black);
  display: inline-block;
}
.pw-div3 {
  left: 367px;
  text-align: right;
}
.div3 {
  left: 176px;
}
.group-icon9 {
  position: absolute;
  height: 0.21%;
  width: 1.16%;
  top: 62.86%;
  right: 88.43%;
  bottom: 36.94%;
  left: 10.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div8 {
  position: absolute;
  height: 0.46%;
  width: 11.11%;
  top: 64.68%;
  right: 72.22%;
  bottom: 34.86%;
  left: 16.67%;
}
.rectangle-div18,
.rectangle-div19 {
  position: absolute;
  top: 5613px;
  left: 535px;
  background-color: var(--color-white);
  width: 370px;
  height: 712px;
}
.rectangle-div19 {
  left: 935px;
}
.vector-icon4 {
  position: absolute;
  height: 0.21%;
  width: 1.81%;
  top: 62.86%;
  right: 75.28%;
  bottom: 36.94%;
  left: 22.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bed-flat-in-woodbridge,
.room-to-let-farnham-rd {
  position: absolute;
  top: 6000px;
  font-size: var(--font-size-2xl);
  line-height: 35px;
  color: var(--color-black);
  display: inline-block;
  width: 340px;
}
.room-to-let-farnham-rd {
  left: 550px;
}
.bed-flat-in-woodbridge {
  left: 950px;
}
.occupied-ready-in-april1 {
  top: 6117px;
  left: 550px;
  font-size: var(--font-size-2xl);
  line-height: 30px;
}
.added-on-the-0902221,
.occupied-ready-in-april1,
.unoccupied-ready-to-move-in1 {
  position: absolute;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
}
.unoccupied-ready-to-move-in1 {
  top: 6117px;
  font-size: var(--font-size-2xl);
  line-height: 30px;
  left: 950px;
}
.added-on-the-0902221 {
  top: 6152px;
  line-height: 25px;
}
.added-on-the-1102221 {
  top: 6152px;
  left: 550px;
}
.added-on-the-1102221,
.sign-in-to-learn-more-and-cont4,
.sign-in-to-learn-more-and-cont5 {
  position: absolute;
  line-height: 25px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
}
.added-on-the-0902221 {
  left: 950px;
}
.sign-in-to-learn-more-and-cont4 {
  top: 6183px;
  left: 550px;
}
.sign-in-to-learn-more-and-cont5 {
  top: 6183px;
  left: 950px;
}
.pw-div4 {
  left: 774px;
  text-align: right;
}
.div4,
.div5,
.pw-div4,
.pw-div5 {
  position: absolute;
  top: 6057px;
  font-size: var(--font-size-3xl);
  line-height: 40px;
  color: var(--color-black);
  display: inline-block;
}
.pw-div5 {
  left: 1167px;
  text-align: right;
}
.div4 {
  left: 576px;
}
.div5 {
  left: 976px;
}
.group-icon10,
.group-icon11 {
  position: absolute;
  height: 0.21%;
  width: 1.16%;
  top: 62.86%;
  right: 60.65%;
  bottom: 36.94%;
  left: 38.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon11 {
  right: 32.87%;
  left: 65.97%;
}
.group-div10,
.group-div9 {
  position: absolute;
  height: 0.46%;
  width: 11.11%;
  top: 64.68%;
  bottom: 34.86%;
}
.group-div9 {
  right: 44.44%;
  left: 44.44%;
}
.group-div10 {
  right: 16.67%;
  left: 72.22%;
}
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 0.21%;
  width: 1.81%;
  top: 62.86%;
  right: 46.81%;
  bottom: 36.94%;
  left: 51.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon6 {
  right: 19.72%;
  left: 78.47%;
}
.advertise-on-roome {
  font-size: var(--font-size-4xl);
}
.advertise-on-roome,
.blogs-div,
.check-these-out-while-theyre {
  position: absolute;
  line-height: 50px;
  text-align: center;
  display: inline-block;
}
.featured-properties-div {
  top: 5467px;
  left: 502px;
}
.featured-properties-div,
.sign-up-today,
.visual-search-div {
  position: absolute;
  font-size: var(--font-size-4xl);
  line-height: 50px;
  text-align: center;
  display: inline-block;
}
.advertise-on-roome {
  top: 3699px;
  left: 615px;
}
.visual-search-div {
  top: 2711px;
  left: 655px;
}
.sign-up-today {
  top: 8473px;
  left: 564px;
}
.check-these-out-while-theyre {
  top: 5530px;
  left: 415px;
  font-size: var(--font-size-3xl);
}
.blogs-div {
  top: 7358px;
  left: 660px;
  font-size: var(--font-size-4xl);
  color: var(--color-indigo);
}
.free-for-students-roome-is-th,
.never-miss-a-update-listing-o {
  position: absolute;
  top: 3762px;
  left: 424px;
  font-size: var(--font-size-3xl);
  line-height: 50px;
  text-align: center;
  display: inline-block;
}
.never-miss-a-update-listing-o {
  top: 8536px;
  left: 382px;
}
.sign-in-span {
  text-decoration: underline;
}
.already-a-member-sign-in,
.showing-results-in-the-surrey,
.showing-results-in-the-surrey1 {
  position: absolute;
  top: 8734px;
  left: 561px;
  font-size: var(--font-size-2xl);
  line-height: 50px;
  text-align: center;
  display: inline-block;
}
.showing-results-in-the-surrey,
.showing-results-in-the-surrey1 {
  top: 7135px;
  left: 545px;
  font-size: var(--font-size-lg);
}
.showing-results-in-the-surrey1 {
  top: 3475px;
}
.rectangle-div22 {
  position: absolute;
  top: 8390px;
  left: 150px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  width: 1140px;
  height: 294px;
}
.rectangle-div23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-turquoise);
  width: 260px;
  height: 50px;
}
.register-as-a-student {
  position: absolute;
  top: 15px;
  left: 28px;
  line-height: 25px;
  display: inline-block;
  width: 204px;
  height: 21px;
}
.rectangle-div24 {
  position: absolute;
  top: 0;
  left: 280px;
  border-radius: var(--br-sm);
  background-color: var(--color-brown-100);
  width: 260px;
  height: 50px;
}
.advertise-on-roome1 {
  position: absolute;
  top: 15px;
  left: 308px;
  line-height: 25px;
  display: inline-block;
  width: 204px;
  height: 21px;
}
.group-div11 {
  position: absolute;
  top: 8659px;
  left: 450px;
  width: 540px;
  height: 50px;
  text-align: center;
}
.rectangle-div25 {
  position: absolute;
  top: 59px;
  left: 0;
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 370px;
  height: 687px;
}
.how-will-energy-price-increase {
  position: absolute;
  top: 372px;
  left: 15px;
  font-size: var(--font-size-2xl);
  line-height: 35px;
  display: inline-block;
  width: 340px;
}
.lorem-ipsum-dolor-sit-amet-co {
  position: absolute;
  top: 454px;
  left: 15px;
  line-height: 25px;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
  width: 340px;
}
.div6,
.john-smith-div {
  position: absolute;
  top: 594px;
  font-size: var(--font-size-lg);
  line-height: 40px;
  display: inline-block;
}
.john-smith-div {
  left: 42px;
}
.div6 {
  left: 268px;
  text-align: right;
}
.group-icon12 {
  position: absolute;
  height: 2.68%;
  width: 1.42%;
  top: 80.7%;
  right: 97.29%;
  bottom: 16.62%;
  left: 1.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div14 {
  position: absolute;
  height: 5.9%;
  width: 13.68%;
  top: 88.74%;
  right: 77.35%;
  bottom: 5.36%;
  left: 8.97%;
  color: var(--color-white);
}
.group-icon13 {
  position: absolute;
  height: 2.68%;
  width: 1.71%;
  top: 80.7%;
  right: 77.86%;
  bottom: 16.62%;
  left: 20.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div27,
.rectangle-div28 {
  top: 59px;
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 370px;
  height: 687px;
}
.rectangle-div27 {
  position: absolute;
  left: 400px;
}
.rectangle-div28 {
  left: 800px;
}
.rectangle-div28,
.rectangle-icon3,
.vector-icon7 {
  position: absolute;
}
.vector-icon7 {
  top: 81px;
  left: 331px;
  width: 39px;
  height: 30px;
}
.rectangle-icon3 {
  height: 45.58%;
  width: 29.06%;
  top: 0;
  right: 69.66%;
  bottom: 54.42%;
  left: 1.28%;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div29 {
  position: absolute;
  top: 37px;
  left: 183px;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  background-color: var(--color-brown-200);
  backdrop-filter: blur(4px);
  border: 2px solid var(--color-brown-100);
  box-sizing: border-box;
  width: 187px;
  height: 44px;
}
.bills-finance {
  position: absolute;
  top: 52px;
  left: 205px;
  color: var(--color-white);
  display: inline-block;
  width: 135px;
  height: 15px;
}
.insurance-what-kind-do-you-ne,
.labels-on-the-milk {
  position: absolute;
  top: 372px;
  font-size: var(--font-size-2xl);
  line-height: 35px;
  display: inline-block;
  width: 340px;
}
.labels-on-the-milk {
  left: 415px;
}
.insurance-what-kind-do-you-ne {
  left: 815px;
}
.lorem-ipsum-dolor-sit-amet-co1,
.lorem-ipsum-dolor-sit-amet-co2 {
  position: absolute;
  top: 454px;
  left: 415px;
  line-height: 25px;
  font-family: var(--font-poppins);
  color: var(--color-gray-300);
  display: inline-block;
  width: 340px;
}
.lorem-ipsum-dolor-sit-amet-co2 {
  left: 815px;
}
.div7,
.div8,
.john-smith-div1,
.sarah-jones-div {
  position: absolute;
  top: 594px;
  font-size: var(--font-size-lg);
  line-height: 40px;
  display: inline-block;
}
.sarah-jones-div {
  left: 442px;
}
.john-smith-div1 {
  left: 842px;
}
.div7,
.div8 {
  left: 666px;
  text-align: right;
}
.div8 {
  left: 1071px;
}
.group-icon14,
.group-icon15 {
  position: absolute;
  height: 2.68%;
  width: 1.42%;
  top: 80.7%;
  right: 63.11%;
  bottom: 16.62%;
  left: 35.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon15 {
  right: 28.92%;
  left: 69.66%;
}
.group-div15,
.group-div16 {
  position: absolute;
  height: 5.9%;
  width: 13.68%;
  top: 88.74%;
  right: 43.16%;
  bottom: 5.36%;
  left: 43.16%;
  color: var(--color-white);
}
.group-div16 {
  right: 8.97%;
  left: 77.35%;
}
.group-icon16,
.group-icon17 {
  height: 2.68%;
  width: 1.71%;
  top: 80.7%;
  bottom: 16.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon16 {
  position: absolute;
  right: 43.68%;
  left: 54.62%;
}
.group-icon17 {
  right: 9.23%;
  left: 89.06%;
}
.group-icon17,
.rectangle-icon4 {
  position: absolute;
}
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: 81px;
  left: 731px;
  width: 39px;
  height: 30px;
}
.vector-icon9 {
  left: 1131px;
}
.rectangle-icon4 {
  height: 45.58%;
  width: 29.06%;
  top: 0;
  right: 35.47%;
  bottom: 54.42%;
  left: 35.47%;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div32 {
  position: absolute;
  top: 37px;
  left: 583px;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  background-color: var(--color-brown-200);
  backdrop-filter: blur(4px);
  border: 2px solid var(--color-brown-100);
  box-sizing: border-box;
  width: 187px;
  height: 44px;
}
.day-to-day {
  position: absolute;
  top: 52px;
  left: 605px;
  color: var(--color-white);
  display: inline-block;
  width: 135px;
  height: 15px;
}
.rectangle-icon5 {
  position: absolute;
  height: 45.58%;
  width: 29.06%;
  top: 0;
  right: 1.28%;
  bottom: 54.42%;
  left: 69.66%;
  border-radius: var(--br-md);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div33 {
  position: absolute;
  top: 37px;
  left: 983px;
  border-radius: var(--br-sm) 0 0 var(--br-sm);
  background-color: var(--color-brown-200);
  backdrop-filter: blur(4px);
  border: 2px solid var(--color-brown-100);
  box-sizing: border-box;
  width: 187px;
  height: 44px;
}
.bills-finance1 {
  position: absolute;
  top: 52px;
  left: 1005px;
  color: var(--color-white);
  display: inline-block;
  width: 135px;
  height: 15px;
}
.group-div12,
.group-div13 {
  position: absolute;
  width: 1170px;
  height: 746px;
}
.group-div13 {
  top: 0;
  left: 0;
}
.group-div12 {
  top: 7444px;
  left: 135px;
  color: var(--color-black);
}
.group-icon18,
.rectangle-icon6 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-icon6 {
  height: 3.52%;
  width: 23.61%;
  top: 58.33%;
  right: 65.97%;
  bottom: 38.15%;
  left: 10.42%;
  object-fit: cover;
}
.group-icon18 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.premium-property-div1 {
  position: absolute;
  height: 68.42%;
  width: 54.12%;
  top: 7.89%;
  right: 22.94%;
  bottom: 23.68%;
  left: 22.94%;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
}
.group-div17 {
  position: absolute;
  height: 0.79%;
  width: 11.81%;
  top: 58.33%;
  right: 65.97%;
  bottom: 40.89%;
  left: 22.22%;
  text-align: center;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
}
.rectangle-div34 {
  position: absolute;
  height: 0.52%;
  width: 23.68%;
  top: 61.33%;
  right: 65.9%;
  bottom: 38.15%;
  left: 10.42%;
  background: linear-gradient(180deg, transparent, #000);
}
.group-icon19 {
  position: absolute;
  height: 0.13%;
  width: 3.31%;
  top: 61.56%;
  right: 76.12%;
  bottom: 38.31%;
  left: 20.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-div35,
.rectangle-icon7 {
  position: absolute;
  bottom: 38.15%;
  left: 38.19%;
}
.rectangle-icon7 {
  height: 3.52%;
  width: 23.61%;
  top: 58.33%;
  right: 38.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div35 {
  height: 0.52%;
  width: 23.68%;
  top: 61.33%;
  right: 38.13%;
  background: linear-gradient(180deg, transparent, #000);
}
.group-icon20 {
  position: absolute;
  height: 0.13%;
  width: 3.31%;
  top: 61.56%;
  right: 48.34%;
  bottom: 38.31%;
  left: 48.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.just-landed-div2 {
  position: absolute;
  height: 68.42%;
  width: 48.24%;
  top: 7.89%;
  right: 25.88%;
  bottom: 23.68%;
  left: 25.88%;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
}
.group-div18 {
  position: absolute;
  height: 0.79%;
  width: 11.81%;
  top: 58.33%;
  right: 38.19%;
  bottom: 40.89%;
  left: 50%;
  text-align: center;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
}
.rectangle-div36,
.rectangle-icon8 {
  position: absolute;
  bottom: 38.15%;
  left: 65.97%;
}
.rectangle-icon8 {
  height: 3.52%;
  width: 23.61%;
  top: 58.33%;
  right: 10.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-div36 {
  height: 0.52%;
  width: 23.68%;
  top: 61.33%;
  right: 10.35%;
  background: linear-gradient(180deg, transparent, #000);
}
.group-icon22 {
  position: absolute;
  height: 0.13%;
  width: 3.31%;
  top: 61.56%;
  right: 20.57%;
  bottom: 38.31%;
  left: 76.12%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div19 {
  position: absolute;
  height: 0.79%;
  width: 11.81%;
  top: 58.33%;
  right: 10.42%;
  bottom: 40.89%;
  left: 77.78%;
  text-align: center;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
}
.group-icon24,
.rectangle-icon9 {
  position: absolute;
  height: 4.32%;
  width: 36.25%;
  top: 91.41%;
  right: 60.35%;
  bottom: 4.27%;
  left: 3.4%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-icon9 {
  height: 5%;
  width: 20.26%;
  top: 91.89%;
  right: 0;
  bottom: 3.11%;
  left: 79.74%;
  object-fit: cover;
}
.rectangle-div37 {
  position: absolute;
  top: 0;
  left: 64px;
  background-color: var(--color-brown-100);
  width: 1440px;
  height: 481px;
}
.get-the-app {
  position: absolute;
  top: 96px;
  left: 299px;
  font-size: var(--font-size-lg);
  line-height: 25px;
  display: inline-block;
}
.image-2-icon {
  position: absolute;
  height: 9.15%;
  width: 14.63%;
  top: 26.61%;
  right: 65.49%;
  bottom: 64.24%;
  left: 19.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.contact-div {
  top: 0;
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 75px;
  height: 21px;
}
.contact-div,
.faq-div,
.vector-icon10 {
  position: absolute;
}
.vector-icon10 {
  top: 4.48px;
  left: 0;
  width: 14.75px;
  height: 11.05px;
}
.faq-div {
  top: 31px;
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 75px;
  height: 21px;
}
.blogs-guides,
.vector-icon11 {
  position: absolute;
}
.vector-icon11 {
  top: 35.48px;
  left: 0;
  width: 14.75px;
  height: 11.05px;
}
.blogs-guides {
  top: 62px;
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 157px;
  height: 21px;
}
.insurance-div,
.vector-icon12 {
  position: absolute;
}
.vector-icon12 {
  top: 66.48px;
  left: 0;
  width: 14.75px;
  height: 11.05px;
}
.insurance-div {
  top: 93px;
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 146px;
  height: 21px;
}
.vector-icon13 {
  position: absolute;
  top: 97.48px;
  left: 0;
  width: 14.75px;
  height: 11.05px;
}
.terms-conditions {
  position: absolute;
  top: 124px;
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 202px;
  height: 21px;
}
.vector-icon14 {
  position: absolute;
  top: 128.48px;
  left: 0;
  width: 14.75px;
  height: 11.05px;
}
.privacy-policy-div {
  position: absolute;
  top: 155px;
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 202px;
  height: 21px;
}
.vector-icon15 {
  position: absolute;
  top: 159.48px;
  left: 0;
  width: 14.75px;
  height: 11.05px;
}
.code-of-practice-for-agents {
  position: absolute;
  top: 186px;
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 257px;
  height: 21px;
}
.vector-icon16 {
  position: absolute;
  top: 190.48px;
  left: 0;
  width: 14.75px;
  height: 11.05px;
}
.discrimination-div,
.jobs-div {
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 202px;
  height: 21px;
}
.discrimination-div {
  position: absolute;
  top: 217px;
}
.jobs-div {
  top: 248px;
}
.group-div21,
.jobs-div {
  position: absolute;
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  top: 221.48px;
  left: 0;
  width: 14.75px;
  height: 11.05px;
}
.vector-icon18 {
  top: 252.48px;
}
.group-div21 {
  top: 96px;
  left: 643px;
  width: 281px;
  height: 269px;
}
.advertise-a-listing {
  top: 0;
  width: 192px;
}
.advertise-a-listing,
.create-a-account,
.find-a-room,
.plans-subscriptions {
  position: absolute;
  left: 0;
  line-height: 25px;
  display: inline-block;
  height: 21px;
}
.find-a-room {
  top: 31px;
  width: 144px;
}
.create-a-account {
  top: 62px;
  width: 183px;
}
.plans-subscriptions {
  top: 93px;
  width: 220px;
}
.group-div22,
.vector-icon19 {
  position: absolute;
  top: 96px;
  left: 1049px;
  width: 220px;
  height: 114px;
}
.vector-icon19 {
  top: 420.5px;
  left: 299px;
  width: 970px;
  height: 1px;
}
.lorem-ipsum-is-a-dummy-text {
  position: absolute;
  top: 439px;
  left: 645px;
  line-height: 25px;
  text-align: center;
  display: inline-block;
}
.rectangle-icon10 {
  position: absolute;
  height: 31.18%;
  width: 15.03%;
  top: 50.1%;
  right: 80.72%;
  bottom: 18.71%;
  left: 4.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-div20,
.group-icon25 {
  position: absolute;
  top: 9168px;
  left: -64px;
  width: 1504px;
  height: 481px;
}
.group-icon25 {
  height: 3.67%;
  width: 30.35%;
  top: 5.7%;
  right: 69.65%;
  bottom: 90.63%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mask-group-icon {
  position: absolute;
  top: 186px;
  left: 432px;
  width: 604px;
  height: 597px;
  object-fit: cover;
}
.rectangle-div38 {
  position: absolute;
  top: 744px;
  left: 411px;
  background: linear-gradient(180deg, rgba(39, 49, 109, 0), #27316d);
  width: 627px;
  height: 40px;
}
.rectangle-icon11 {
  position: absolute;
  height: 1.54%;
  width: auto;
  top: 2.03%;
  right: 84.51%;
  bottom: 96.42%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.advertise-spare-rooms-search {
  position: absolute;
  top: 860px;
  left: 135px;
  font-size: var(--font-size-4xl);
  line-height: 50px;
  text-align: center;
  display: inline-block;
  width: auto;
}
.rectangle-div39 {
  position: absolute;
  top: 390px;
  left: 135px;
  border-radius: var(--br-sm);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 250px;
  height: 60px;
}
.create-a-listing {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25px;
  display: inline-block;
  width: 148px;
  height: 21px;
}
.group-div23,
.icon {
  position: absolute;
}
.icon {
  top: 8px;
  left: 166px;
  width: 10px;
  height: 6px;
}
.group-div23 {
  top: 410px;
  left: 172px;
  width: 176px;
  height: 21px;
  text-align: center;
}
.rectangle-div40 {
  position: absolute;
  top: 390px;
  left: 1055px;
  border-radius: var(--br-sm);
  border: 1px solid var(--color-gray-600);
  box-sizing: border-box;
  width: 250px;
  height: 60px;
}
.find-a-room1,
.icon1 {
  position: relative;
  flex-shrink: 0;
}
.find-a-room1 {
  line-height: 25px;
  display: inline-block;
  width: 115px;
  height: 21px;
}
.icon1 {
  width: 10px;
  height: 6px;
}
.frame-div {
  position: absolute;
  top: 410px;
  left: 1108px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  text-align: right;
}
.rectangle-div41 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-turquoise);
  width: 100px;
  height: 44px;
  color: white;
  font-size: 21px;
}
.login-div {
  position: absolute;
  top: 11px;
  left: 24px;
  line-height: 25px;
  display: inline-block;
  width: 52px;
  height: 21px;
}
.group-div24 {
  position: absolute;
  top: 28px;
  left: 1135px;
  width: 100px;
  height: 44px;
  text-align: right;
}
.vector-icon20,
.vector-icon21 {
  position: absolute;
  height: 91.38%;
  width: 31.62%;
  top: 0;
  right: 34.19%;
  bottom: 8.62%;
  left: 34.19%;
  border-radius: var(--br-lg);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon21 {
  right: 68.38%;
  left: 0;
}
.landlords-div,
.students-div {
  position: absolute;
  top: 47px;
  left: 512px;
  font-size: var(--font-size-3xl);
  line-height: 50px;
  font-family: var(--font-sinkin-sans);
  text-align: center;
  display: inline-block;
}
.students-div {
  left: 117px;
  color: var(--color-black);
}
.start-your-7-day-free-trial {
  position: absolute;
  top: 571px;
  left: 475px;
  text-decoration: underline;
  line-height: 40px;
  display: inline-block;
}
.start-your-7-day-free-trial1 {
  left: 475px;
}
.start-your-7-day-free-trial1,
.start-your-7-day-free-trial2 {
  position: absolute;
  text-decoration: underline;
  line-height: 40px;
  display: inline-block;
}
.start-your-7-day-free-trial1 {
  top: 726px;
}
.start-your-7-day-free-trial2 {
  top: 571px;
  left: 75px;
  color: var(--color-black);
}
.div10,
.div9 {
  position: absolute;
  top: 110px;
  font-size: var(--font-size-5xl);
  line-height: 50px;
  font-family: var(--font-sinkin-sans);
  text-align: center;
  display: inline-block;
}
.div9 {
  left: 532px;
}
.div10 {
  left: 138px;
  color: var(--color-gray-400);
}
.advertise-quickly-and-easily {
  top: 0;
}
.advertise-quickly-and-easily,
.communicate-easily-div,
.review-booking-requests {
  position: absolute;
  left: 28px;
  line-height: 40px;
  display: inline-block;
}
.communicate-easily-div {
  top: 40px;
}
.review-booking-requests {
  top: 80px;
}
.booking-system-div {
  position: absolute;
  left: 28px;
  line-height: 40px;
  display: inline-block;
}
.keep-your-information-private {
  top: 120px;
}
.keep-your-information-private,
.we-do-all-the-hard-work {
  position: absolute;
  left: 28px;
  line-height: 40px;
  display: inline-block;
}
.booking-system-div {
  top: 160px;
}
.we-do-all-the-hard-work {
  top: 200px;
}
.vector-icon22,
.vector-icon23 {
  position: absolute;
  top: 13.74px;
  left: 0;
  width: 18.85px;
  height: 12.52px;
}
.vector-icon23 {
  top: 53.74px;
}
.vector-icon24 {
  top: 133.74px;
}
.vector-icon24,
.vector-icon25,
.vector-icon26,
.vector-icon27 {
  position: absolute;
  left: 0;
  width: 18.85px;
  height: 12.52px;
}
.vector-icon25 {
  top: 93.74px;
}
.vector-icon26 {
  top: 173.74px;
}
.vector-icon27 {
  top: 213.74px;
}
.group-div26,
.group-div27 {
  position: absolute;
  top: 175px;
  left: 437px;
  width: 296px;
  height: 240px;
}
.group-div27 {
  left: 47px;
  width: 275px;
  height: 120px;
  color: var(--color-gray-200);
}
.vector-icon31 {
  position: absolute;
  height: 91.38%;
  width: 31.62%;
  top: 0;
  right: 0;
  bottom: 8.62%;
  left: 68.38%;
  border-radius: var(--br-lg);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contact-our-team-today,
.letting-agents-div {
  position: absolute;
  left: 875px;
  color: var(--color-black);
  display: inline-block;
}
.letting-agents-div {
  top: 47px;
  font-size: var(--font-size-3xl);
  line-height: 50px;
  font-family: var(--font-sinkin-sans);
  text-align: center;
}
.contact-our-team-today {
  top: 571px;
  text-decoration: underline;
  line-height: 40px;
}
.enquire-today-div {
  position: absolute;
  top: 110px;
  left: 852px;
  font-size: 30px;
  line-height: 50px;
  font-family: var(--font-sinkin-sans);
  color: var(--color-gray-400);
  text-align: center;
  display: inline-block;
}
.designated-page-for-your-prope {
  position: absolute;
  top: 160px;
  left: 28px;
  line-height: 32px;
  display: inline-block;
  width: 230px;
}
.booking-system-div1,
.crm-div {
  position: absolute;
  left: 28px;
  line-height: 40px;
  display: inline-block;
}
.sync-your-property-portfolio {
  top: 228px;
}
.sync-your-property-portfolio,
.we-do-all-the-hard-work2 {
  position: absolute;
  left: 28px;
  line-height: 40px;
  display: inline-block;
}
.crm-div {
  top: 268px;
}
.booking-system-div1 {
  top: 308px;
}
.we-do-all-the-hard-work2 {
  top: 348px;
}
.vector-icon36,
.vector-icon37 {
  left: 0;
  width: 18.85px;
  height: 12.52px;
}
.vector-icon36 {
  position: absolute;
  top: 241.74px;
}
.vector-icon37 {
  top: 281.74px;
}
.group-div28,
.vector-icon37 {
  position: absolute;
}
.vector-icon38 {
  top: 321.74px;
}
.vector-icon38,
.vector-icon39,
.vector-icon40 {
  position: absolute;
  left: 0;
  width: 18.85px;
  height: 12.52px;
}
.vector-icon39 {
  top: 169.74px;
}
.vector-icon40 {
  top: 361.74px;
}
.group-div28 {
  top: 170px;
  left: 846px;
  width: 278px;
  height: 388px;
  color: var(--color-gray-200);
}
.group-div25 {
  position: absolute;
  height: 7.94%;
  width: 81.25%;
  top: 47.87%;
  right: 9.38%;
  bottom: 44.19%;
  left: 9.38%;
  font-size: var(--font-size-lg);
  font-family: var(--font-poppins);
}
.rectangle-div42 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-turquoise);
  width: 330px;
  height: 50px;
}
.start-your-free-trial {
  position: absolute;
  top: 14px;
  left: 48px;
  line-height: 25px;
  display: inline-block;
  width: 233px;
  height: 22px;
}
.group-div29,
.see-plan-options {
  position: absolute;
  top: 4362px;
  left: 555px;
  width: 330px;
  height: 50px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.see-plan-options {
  top: 4459px;
  left: 603px;
  line-height: 25px;
  display: inline-block;
  width: 233px;
  height: 22px;
}
element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.group-icon26,
.vector-icon41 {
  position: absolute;
}
.vector-icon41 {
  top: 4507px;
  left: 708.95px;
  width: 22.09px;
  height: 41.5px;
}
.group-icon26 {
  top: 3845px;
  left: 618px;
  width: 280px;
  height: 467.25px;
}
.group-icon27 {
  top: 43.88%;
  right: 67.59%;
  bottom: 51.53%;
  left: 29.84%;
}
.group-icon27,
.group-icon28,
.group-icon29,
.group-icon30,
.group-icon31,
.group-icon32,
.group-icon33 {
  position: absolute;
  height: 4.59%;
  width: 2.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon28 {
  top: 28.9%;
  right: 68.67%;
  bottom: 66.51%;
  left: 28.76%;
}
.group-icon29 {
  top: 34.4%;
  right: 61.68%;
  bottom: 61.01%;
  left: 35.75%;
}
.group-icon30 {
  top: 39.3%;
  right: 58.44%;
  bottom: 56.12%;
  left: 38.99%;
}
.group-icon31 {
  top: 50.46%;
  right: 44.32%;
  bottom: 44.95%;
  left: 53.11%;
}
.group-icon32 {
  top: 57.19%;
  right: 39.14%;
  bottom: 38.23%;
  left: 58.29%;
}
.group-icon33 {
  top: 36.54%;
  right: 54.81%;
  bottom: 58.87%;
  left: 42.62%;
}
.group-icon34 {
  top: 48.62%;
  right: 69.84%;
  bottom: 46.79%;
  left: 27.59%;
}
.group-icon34,
.group-icon35,
.group-icon36,
.group-icon37,
.group-icon38,
.group-icon39,
.group-icon40 {
  position: absolute;
  height: 4.59%;
  width: 2.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon35 {
  top: 52.45%;
  right: 65.3%;
  bottom: 42.97%;
  left: 32.12%;
}
.group-icon36 {
  top: 57.34%;
  right: 68.28%;
  bottom: 38.07%;
  left: 29.15%;
}
.group-icon37 {
  top: 67.13%;
  right: 62.84%;
  bottom: 28.29%;
  left: 34.59%;
}
.group-icon38 {
  top: 63.76%;
  right: 75.02%;
  bottom: 31.65%;
  left: 22.41%;
}
.group-icon39 {
  top: 56.73%;
  right: 61.94%;
  bottom: 38.69%;
  left: 35.49%;
}
.group-icon40 {
  top: 59.94%;
  right: 58.31%;
  bottom: 35.47%;
  left: 39.12%;
}
.ellipse-icon {
  position: absolute;
  top: 358px;
  left: 283px;
  width: 38px;
  height: 9px;
}
.group-icon41,
.group-icon42 {
  position: absolute;
  height: 10.55%;
  width: 5.91%;
  top: 44.95%;
  right: 57.93%;
  bottom: 44.5%;
  left: 36.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon42 {
  height: 4.59%;
  width: 2.57%;
  top: 53.36%;
  right: 56.76%;
  bottom: 42.05%;
  left: 40.67%;
}
.rectangle-div43,
.rectangle-div44 {
  position: absolute;
  top: 3080px;
  left: 687px;
  background-color: var(--color-gray-100);
  width: 134px;
  height: 33px;
}
.rectangle-div44 {
  top: 3097px;
  left: 754.14px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.union-div {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 134px;
  height: 44.04px;
  top: 277px;
  left: 395px;
}
.union-div::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.div11 {
  position: absolute;
  left: 430px;
  display: inline-block;
  width: 15px;
  height: 26px;
}
.div11,
.div12 {
  top: 286px;
  line-height: 30px;
}
.div12,
.pp-div {
  position: absolute;
  display: inline-block;
}
.div12 {
  left: 450px;
  width: 52px;
  height: 27px;
}
.pp-div {
  top: 299px;
  left: 494px;
  font-size: 13px;
  line-height: 20px;
  width: 21px;
  height: 17px;
}
.group-icon43 {
  position: absolute;
  height: 2.45%;
  width: 1.73%;
  top: 44.5%;
  right: 50.99%;
  bottom: 53.06%;
  left: 48.28%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div30 {
  position: absolute;
  height: 6.78%;
  width: 53.61%;
  top: 28.99%;
  right: 23.19%;
  bottom: 64.23%;
  left: 23.19%;
  font-size: var(--font-size-xl);
  color: var(--color-indigo);
}
.find-a-roome {
  top: 60px;
  left: 280px;
  font-size: var(--font-size-4xl);
  line-height: 50px;
}
.advanced-search-div,
.find-a-roome {
  position: absolute;
  display: inline-block;
}
.quick-search-div,
.search-by-university-or-postco {
  position: absolute;
  line-height: 50px;
  display: inline-block;
}
.search-by-university-or-postco {
  top: 207px;
  left: 222px;
  font-size: var(--font-size-3xl);
}
.quick-search-div {
  top: 370px;
  left: 324px;
  font-size: var(--font-size-2xl);
}
.advanced-search-div {
  top: 1353px;
  left: 302px;
  font-size: var(--font-size-base);
  text-decoration: underline;
  line-height: 25px;
  width: 165px;
  height: 24px;
}
.rectangle-div45 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-turquoise);
  width: 250px;
  height: 50px;
  color: white;
  font-size: 21px;
  border: none;
}
.see-results-div {
  position: absolute;
  top: 14px;
  left: 56px;
  line-height: 25px;
  display: inline-block;
  width: 137px;
  height: 22px;
}
.group-div32 {
  position: absolute;
  top: 1277px;
  left: 260px;
  width: 250px;
  height: 50px;
}
.rectangle-div46,
.rectangle-div47 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 770px;
  height: 54px;
}
.rectangle-div47 {
  top: 5px;
  left: 715px;
  background-color: var(--color-turquoise);
  width: 50px;
  height: 44px;
  border: none;
}
.search-here {
  top: 13px;
  left: 49px;
  line-height: 30px;
  display: inline-block;
  width: 84%;
  height: 28px;
  border: white;
}
input.search-here:focus {
  outline: none;
}
.frame-icon,
.group-icon44,
.search-here {
  position: absolute;
}
.group-icon44 {
  top: 20px;
  left: 20px;
  width: 14.46px;
  height: 14.46px;
}
.frame-icon {
  top: 19px;
  left: 736px;
  width: 9px;
  height: 16px;
  overflow: hidden;
}
.group-div33 {
  top: 280px;
  left: 0;
  width: 770px;
  height: 54px;
  text-align: left;
  font-size: var(--font-size-base);
  color: rgba(0, 0, 0, 0.5);
}
.ff-icon,
.group-div33,
.vector-icon43 {
  position: absolute;
}
.vector-icon43 {
  top: 431px;
  left: 362.95px;
  width: 22.09px;
  height: 41.5px;
}
.ff-icon {
  height: 12.35%;
  width: 21.31%;
  top: 0;
  right: 5.45%;
  bottom: 87.65%;
  left: 73.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.i-am-a-looking-for {
  position: absolute;
  top: 515px;
  left: 300px;
  font-size: var(--font-size-3xl);
  line-height: 40px;
  display: inline-block;
}
.rectangle-div48 {
  position: absolute;
  top: 573px;
  left: 67px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  color: #FFFFEB;
}
button.rectangle-div48:focus {
  background-color: var(--color-brown-100);
}
.a-room-div {
  position: absolute;
  top: 584px;
  left: 132px;
  font-size: var(--font-size-base);
  line-height: 30px;
  display: inline-block;
}
.rectangle-div49 {
  position: absolute;
  top: 573px;
  left: 285px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  color: #FFFFEB;
}
button.rectangle-div49:focus {
  background-color: var(--color-brown-100);
}
.a-house-flat {
  position: absolute;
  top: 584px;
  left: 323px;
  font-size: var(--font-size-base);
  line-height: 30px;
  display: inline-block;
}
.rectangle-div50 {
  position: absolute;
  top: 573px;
  left: 502px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  color: #FFFFEB;
}
button.rectangle-div50:focus {
  background-color: var(--color-brown-100);
}
.a-roommate-div,
.number-of-rooms {
  position: absolute;
  display: inline-block;
}
.a-roommate-div {
  top: 584px;
  left: 544px;
  font-size: var(--font-size-base);
  line-height: 30px;
}
.number-of-rooms {
  font-size: var(--font-size-3xl);
  line-height: 40px;
}
.occupants-div {
  top: 666px;
  left: 305px;
  width: 158px;
}
.occupants-div,
.postcode-area-div {
  position: absolute;
  font-size: var(--font-size-3xl);
  line-height: 40px;
  display: inline-block;
}
.number-of-rooms {
  top: 968px;
  left: 246px;
  width: 276px;
}
.postcode-area-div {
  top: 817px;
  left: 273px;
  width: 222px;
}
.rectangle-div51 {
  top: 724px;
  left: 67px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  font-size: 18px;
  color: white;
}
button.rectangle-div51:focus {
  background-color: var(--color-brown-100);
}
.rectangle-div51,
.rectangle-div52,
.rectangle-div53,
.rectangle-div54 {
  position: absolute;
  border-radius: var(--br-sm);
  width: 50px;
  height: 50px;
}
.rectangle-div52 {
  top: 1026px;
  left: 67px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  font-size: 18px;
  color: white;
}
button.rectangle-div52:focus {
  background-color: var(--color-brown-100);
}
.rectangle-div53,
.rectangle-div54 {
  top: 724px;
  left: 132px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  font-size: 18px;
  color: white;
}
button.rectangle-div53:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div54:focus {
  background-color: var(--color-brown-100);
}
.rectangle-div54 {
  top: 1026px;
  left: 522px;
}
.rectangle-div55 {
  position: absolute;
  top: 724px;
  left: 197px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: white;
}
button.rectangle-div55:focus {
  background-color: var(--color-brown-100);
}
.rectangle-div56 {
  left: 197px;
}
.rectangle-div56,
.rectangle-div57,
.rectangle-div58,
.rectangle-div59 {
  position: absolute;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: white;
}
button.rectangle-div58:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div57:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div56:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div59:focus {
  background-color: var(--color-brown-100);
}
.rectangle-div56,
.rectangle-div57 {
  top: 1026px;
}
.rectangle-div57 {
  left: 132px;
}
.rectangle-div58 {
  top: 724px;
  left: 262px;
}
.rectangle-div59 {
  left: 262px;
  top: 1026px;
}
.rectangle-div60 {
  position: absolute;
  top: 724px;
  left: 327px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: white;
}
button.rectangle-div60:focus {
  background-color: var(--color-brown-100);
}
.rectangle-div61 {
  left: 327px;
}
.rectangle-div61,
.rectangle-div62,
.rectangle-div63,
.rectangle-div64,
.rectangle-div65,
.rectangle-div66,
.rectangle-div67,
.rectangle-div68,
.rectangle-div69,
.rectangle-div70 {
  position: absolute;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-size: 18px;
  color: white;
}
button.rectangle-div62:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div64:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div66:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div67:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div69:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div61:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div63:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div65:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div68:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div70:focus {
  background-color: var(--color-brown-100);
}
.rectangle-div61 {
  top: 1026px;
}
.rectangle-div62 {
  top: 724px;
  left: 392px;
}
.rectangle-div63 {
  left: 392px;
  top: 1026px;
}
.rectangle-div64 {
  top: 724px;
  left: 457px;
}
.rectangle-div65 {
  left: 457px;
  top: 1026px;
}
.rectangle-div66 {
  top: 724px;
  left: 522px;
}
.rectangle-div67 {
  top: 724px;
  left: 587px;
}
.rectangle-div68 {
  left: 587px;
  top: 1026px;
}
.rectangle-div69 {
  top: 724px;
  left: 652px;
}
.rectangle-div70 {
  left: 652px;
  top: 1026px;
}
.div13,
.div14,
.div15 {
  width: 27px;
}
.div13,
.div14,
.div15,
.div16,
.div17 {
  position: absolute;
  line-height: 30px;
  display: inline-block;
  height: 27px;
}
.div13 {
  top: 736px;
  left: 208px;
  text-align: left;
}
.div14,
.div15 {
  top: 1038px;
}
.div14 {
  left: 208px;
  text-align: left;
}
.div15 {
  left: 143px;
}
.div16,
.div17 {
  top: 736px;
  left: 81px;
  text-align: left;
  width: 21px;
}
.div17 {
  top: 1038px;
}
.div18,
.div19 {
  left: 273px;
  text-align: left;
  width: 27px;
}
.div18 {
  position: absolute;
  top: 736px;
  line-height: 30px;
  display: inline-block;
  height: 27px;
}
.div19 {
  top: 1038px;
}
.div19,
.div20,
.div21,
.div22,
.div23 {
  position: absolute;
  line-height: 30px;
  display: inline-block;
  height: 27px;
}
.div20 {
  top: 736px;
  left: 144px;
  text-align: left;
  width: 26px;
}
.div21 {
  top: 1038px;
  left: 533px;
  width: 28px;
}
.div22,
.div23 {
  top: 736px;
  left: 338px;
  text-align: left;
  width: 27px;
}
.div23 {
  top: 1038px;
}
.rectangle-div71 {
  left: 230px;
}
.rectangle-div71,
.rectangle-div72,
.rectangle-div73,
.rectangle-div74,
.rectangle-div75 {
  position: absolute;
  top: 875px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.rectangle-div72 {
  left: 295px;
}
.rectangle-div73 {
  left: 360px;
}
.rectangle-div74 {
  left: 425px;
}
.rectangle-div75 {
  left: 490px;
}
.div24 {
  position: absolute;
  top: 736px;
  left: 403px;
  display: inline-block;
  width: 28px;
}
.div24,
.div25,
.div26 {
  line-height: 30px;
  text-align: left;
  height: 27px;
}
.div25 {
  position: absolute;
  top: 1038px;
  left: 403px;
  display: inline-block;
  width: 28px;
}
.div26 {
  top: 736px;
  left: 469px;
  width: 26px;
}
.div26,
.div27,
.div28,
.div29 {
  position: absolute;
  display: inline-block;
}
.div27 {
  top: 1038px;
  left: 469px;
  line-height: 30px;
  text-align: left;
  width: 26px;
  height: 27px;
}
.div28,
.div29 {
  top: 736px;
  width: 28px;
}
.div28 {
  left: 533px;
  line-height: 30px;
  text-align: left;
  height: 27px;
}
.div29 {
  left: 598px;
}
.div29,
.div30,
.div31 {
  line-height: 30px;
  text-align: left;
  height: 27px;
}
.div30 {
  position: absolute;
  top: 1038px;
  left: 598px;
  display: inline-block;
  width: 28px;
}
.div31 {
  top: 736px;
  left: 666px;
  width: 21px;
}
.div31,
.div32,
.price-range-div {
  position: absolute;
  display: inline-block;
}
.div32 {
  top: 1038px;
  left: 666px;
  line-height: 30px;
  text-align: left;
  width: 21px;
  height: 27px;
}
.price-range-div {
  top: 1119px;
  left: 298px;
  font-size: var(--font-size-3xl);
  line-height: 40px;
}
.rectangle-div76,
.rectangle-div77,
.rectangle-div78,
.rectangle-div79 {
  position: absolute;
  top: 1177px;
  border-radius: var(--br-sm);
  width: 147.5px;
  height: 50px;
  font-size: 18px;
  color: white;
}
.rectangle-div76 {
  left: 68px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.rectangle-div77 {
  left: 230px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.rectangle-div78,
.rectangle-div79 {
  left: 392px;
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.rectangle-div79 {
  left: 555px;
}
button.rectangle-div76:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div77:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div78:focus {
  background-color: var(--color-brown-100);
}
button.rectangle-div79:focus {
  background-color: var(--color-brown-100);
}
.div33 {
  left: 91px;
  width: 101px;
}
.div33,
.div34,
.div35,
.div36 {
  position: absolute;
  top: 1189px;
  font-size: var(--font-size-base);
  line-height: 30px;
  display: inline-block;
  height: 27px;
}
.div34 {
  left: 244px;
  width: 119px;
}
.div35 {
  left: 403px;
  width: 125px;
}
.div36 {
  left: 566px;
  width: 126px;
}
.group-div31 {
  position: absolute;
  top: 1146px;
  left: 370px;
  width: 770px;
  height: 1377px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.rectangle-icon12 {
  height: 3.31%;
  width: 16.45%;
  top: 11.2%;
  right: 83.55%;
  bottom: 85.49%;
  left: 0;
  object-fit: cover;
}
.group-icon45,
.rectangle-icon12,
.rectangle-icon13,
.rectangle-icon14 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-icon13 {
  height: 3.76%;
  width: auto;
  top: 16.89%;
  right: -8.68%;
  bottom: 79.35%;
  left: 84.03%;
  object-fit: cover;
}
.group-icon45 {
  height: 4.48%;
  width: 26.18%;
  top: 24.51%;
  right: 73.82%;
  bottom: 71.01%;
  left: 0;
}
.rectangle-icon14 {
  height: 1.54%;
  width: 11.46%;
  top: 44.37%;
  right: 0;
  bottom: 54.09%;
  left: 88.54%;
  object-fit: cover;
}
.roome-homepage {
  position: relative;
  background-color: var(--color-indigo);
  width: 100%;
  height: 9649px;
  overflow: hidden !important;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-sinkin-sans);
}
