@import url("https://fonts.googleapis.com/css2?family=Sinkin+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-sinkin-sans: "Sinkin Sans";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 19px;
  --font-size-2xl: 20px;
  --font-size-3xl: 25px;
  --font-size-4xl: 35px;
  --font-size-5xl: 45px;

  /* Colors */
  --color-indigo: #27316d;
  --color-white: #fff;
  --color-gray-100: #d9d9d9;
  --color-gray-200: #747474;
  --color-gray-300: #606060;
  --color-gray-400: #1d1f3e;
  --color-gray-500: rgba(0, 0, 0, 0.25);
  --color-gray-600: rgba(255, 255, 255, 0.25);
  --color-gray-700: rgba(255, 255, 255, 0.3);
  --color-gray-800: rgba(255, 255, 255, 0.03);
  --color-brown-100: #f96e67;
  --color-brown-200: rgba(249, 110, 103, 0.85);
  --color-turquoise: #2bb2a3;
  --color-black: #000;
  --color-teal: #2baee5;

  /* border radiuses */
  --br-xs: 3px;
  --br-sm: 5px;
  --br-md: 10px;
  --br-lg: 20px;
}
